---
import "../styles/style.css";

import Newsletter from "../components/Newsletter.astro";
---

<article>
  <img class="card-bg" src="https://esterpiazza.dk/kea/08_ui-ux/jelly-fish.png" alt="event billede" />
  <div class="content">
    <h2>Stay Updated with our Events</h2>
    <p>Subscribe to receive updates on this program item or artist.</p>
    <div class="newsletter">
      <Newsletter />
    </div>
  </div>
</article>

<style>
  article {
    margin-top: 80px;
  }

  .card-bg {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 300/200;
    filter: brightness(50%);
    grid-column: 1/5;
    grid-row: 1/4;
  }
  article {
    display: grid;
  }

  .content {
    grid-column: 2/4;
    grid-row: 2/3;
    z-index: 1;
    text-align: center;
    align-items: center;
    margin-inline: auto;
  }

  h2 {
    text-align: center;
  }
  .newsletter {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-top: 24px;
  }

  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
    .card-bg {
      aspect-ratio: 16/6;
    }
  }

  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
    .card-bg {
      background-image: url(/jelly_fish_2.webp);
      width: 100%;
      object-fit: cover;
      aspect-ratio: 16/5;
      filter: brightness(50%);
      grid-column: 1/5;
      grid-row: 1/4;
    }
  }
</style>
